
body, html {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    overflow: hidden; 
}
/* container total */
.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    
}

.image {
    width: 35vw; 
    height: 100vh; 
    object-fit: cover;

}
.logo {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%; 
    left: 17.5%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    
    text-align: center;
}
.colum2 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px; 
    width: 70%;
    height: 100%;
    text-align: left; 
    display: flex;
    flex-direction: column;

}


.element1 {
    flex: auto;
    font-size: 25px;
    text-align: left;
    
    padding-left: 30px;
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}


.element2{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;

}

